In [5]:
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

from datetime import datetime
import pandas as pd
import pandas_datareader.data as web

# replaces pyfinance.ols.PandasRollingOLS (no longer maintained)
from statsmodels.regression.rolling import RollingOLS
import statsmodels.api as sm

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
sns.set_style('whitegrid')
idx = pd.IndexSlice

In [11]:
DATA_STORE = '../data/assets.h5'
START = 2000
END = 2018
with pd.HDFStore(DATA_STORE) as store:
    prices = (store['quandl/wiki/prices']
              .loc[idx[str(START):str(END), :], 'adj_close']
              .unstack('ticker'))
    stocks = store['us_equities/stocks'].loc[:, ['marketcap', 'ipoyear', 'sector']]

In [14]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4706 entries, 2000-01-03 to 2018-03-27
Columns: 3199 entries, A to ZUMZ
dtypes: float64(3199)
memory usage: 114.9 MB

In [13]:
stocks

           marketcap  ipoyear             sector
ticker
PIH     4.309000e+07   2014.0            Finance
PIHPP            NaN      NaN            Finance
TURN    7.033000e+07      NaN            Finance
FLWS    8.333900e+08   1999.0  Consumer Services
FCCY    1.781400e+08      NaN            Finance
...              ...      ...                ...
ZOES    1.974000e+08   2014.0  Consumer Services
ZTS     4.165000e+10   2013.0        Health Care
ZTO     1.434000e+10   2016.0     Transportation
ZUO     3.040000e+09   2018.0         Technology
ZYME    4.868100e+08   2017.0        Health Care

[6834 rows x 3 columns]

In [15]:
stocks = stocks[~stocks.index.duplicated()]
stocks.index.name = 'ticker'

In [16]:
stocks

           marketcap  ipoyear             sector
ticker
PIH     4.309000e+07   2014.0            Finance
PIHPP            NaN      NaN            Finance
TURN    7.033000e+07      NaN            Finance
FLWS    8.333900e+08   1999.0  Consumer Services
FCCY    1.781400e+08      NaN            Finance
...              ...      ...                ...
ZOES    1.974000e+08   2014.0  Consumer Services
ZTS     4.165000e+10   2013.0        Health Care
ZTO     1.434000e+10   2016.0     Transportation
ZUO     3.040000e+09   2018.0         Technology
ZYME    4.868100e+08   2017.0        Health Care

[6834 rows x 3 columns]

In [18]:
shared = prices.columns.intersection(stocks.index)

In [19]:
stocks = stocks.loc[shared, :]
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2412 entries, A to ZUMZ
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   marketcap  2407 non-null   float64
 1   ipoyear    1065 non-null   float64
 2   sector     2372 non-null   object
dtypes: float64(2), object(1)
memory usage: 75.4+ KB

In [20]:
prices = prices.loc[:, shared]
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4706 entries, 2000-01-03 to 2018-03-27
Columns: 2412 entries, A to ZUMZ
dtypes: float64(2412)
memory usage: 86.6 MB

In [23]:
assert prices.shape[1] == stocks.shape[0]

### Monthly return

In [28]:
monthly_price = prices.resample('M').last()

In [27]:
prices

ticker              A     AA    AAL   AAMC        AAN   AAOI       AAON     AAP        AAPL    AAT  ...    ZEN       ZEUS   ZGNX       ZION  ZIOP   ZIXI  ZNGA   ZOES    ZTS   ZUMZ
date                                                                                                ...
2000-01-03  49.121329    NaN    NaN    NaN   4.975857    NaN   1.025920     NaN    3.596463    NaN  ...    NaN   4.466544    NaN  43.826745   NaN  37.06   NaN    NaN    NaN    NaN
2000-01-04  45.369006    NaN    NaN    NaN   4.958913    NaN   1.068476     NaN    3.293170    NaN  ...    NaN   4.466544    NaN  41.702530   NaN  36.50   NaN    NaN    NaN    NaN
2000-01-05  41.998737    NaN    NaN    NaN   4.958913    NaN   1.073796     NaN    3.341362    NaN  ...    NaN   4.408079    NaN  41.899948   NaN  37.13   NaN    NaN    NaN    NaN
2000-01-06  40.934441    NaN    NaN    NaN   4.958913    NaN   1.082915     NaN    3.052206    NaN  ...    NaN   4.350542    NaN  42.247403   NaN  35.25   NaN    NaN    NaN    NaN
2000-01-07  44.345645    NaN    NaN    NaN   4.958913    NaN   1.044918     NaN    3.196784    NaN  ...    NaN   4.640083    NaN  42.350060   NaN  38.00   NaN    NaN    NaN    NaN
...               ...    ...    ...    ...        ...    ...        ...     ...         ...    ...  ...    ...        ...    ...        ...   ...    ...   ...    ...    ...    ...
2018-03-21  69.400000  47.95  54.09  60.80  47.370000  26.71  39.050000  115.24  171.270000  32.46  ...  48.89  22.120000  42.10  55.100000  4.28   4.53  3.94  15.66  84.10  23.95
2018-03-22  67.470000  44.92  52.31  60.18  45.940000  25.96  38.550000  111.71  168.845000  32.52  ...  48.12  20.650000  41.05  53.070000  4.19   4.52  3.81  15.27  82.06  23.35
2018-03-23  66.060000  44.71  51.01  58.35  45.300000  25.36  37.200000  110.84  164.940000  31.78  ...  46.70  20.000000  40.35  51.230000  4.05   4.40  3.80  15.12  80.60  23.55
2018-03-26  68.200000  45.77  51.86  58.60  46.230000  24.53  37.950000  114.77  172.770000  32.22  ...  49.04  20.420000  40.35  53.240000  4.27   4.42  3.85  15.10  83.73  24.65
2018-03-27  67.000000  44.90  50.90  65.25  45.420000  24.60  38.000000  115.01  168.340000  32.75  ...  47.52  20.250000  38.50  52.020000  4.05   4.39  3.70  14.88  81.86  23.60

[4706 rows x 2412 columns]